.App {
  text-align: center;
}
nav{
  background-color:black;
  display: block; 
  text-align: right;
  justify-content: space-between; 
  width: 100vw;
  height:fit-content;
  margin: 0 auto;
  border-bottom: 10px solid tomato;

}
.nav-link{
  color: white;
  text-decoration: none;
}

ul{
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  margin: 0;

}
li{
  display: inline-block;
  padding: 0 5px;
  color: gold;
  position: absolute;
  top:0;
  left:0;

}
li.li-nav{
  color:white;
  padding: 15px ;
  position:relative;

}

li.li-nav:hover{
  background-color: rgb(235, 231, 231);
  transition: all 0.5s;
  color:black
}
.home-div{
  display:flex;
  
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
}

about-div{
  padding: 20px 20px;
  margin:0 auto;
}

p{
  font-size: 25px;
  padding: 15px 15px;
  margin: 0 auto;
}
